.mobile-menu {
  width: 100%;
  background: #fff;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  right: -100%;
  opacity: 0;
  visibility: hidden;
  z-index: 30;
  padding: 8.9rem 2.2rem 2.2rem 2.2rem;
  overflow-y: scroll;
  &__nav-item:not(:last-child) {
    margin-bottom: 2.8rem;
  }
  &__nav-item:nth-child(1) {
    margin-bottom: 0;
  }
  &__nav-link {
    font-size: 1.6rem;
    line-height: 125%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-link-mobile-menu);
  }
  &__nav-sublinks {
    display: flex;
    flex-direction: column;
    margin: 1.4rem 0 1.8rem 0;
  }
  &__nav-sublink {
    font-size: 1.2rem;
    line-height: 208%;
    color: var(--color-sublink-mobile-menu);
  }
  &__info {
    margin-top: 3.8rem;
  }
  &__address,
  &__calculate,
  &__question {
    display: flex;
    margin-bottom: 3.8rem;
  }
  &__address-image,
  &__calculate-image,
  &__question-image {
    margin-right: 1.8rem;
  }
  &__address-text,
  &__calculate-btn {
    font-size: 1.4rem;
    line-height: 136%;
    letter-spacing: 0.05em;
    & span {
      font-weight: 700;
      position: relative;
      &::before {
        content: '';
        width: 100%;
        height: 0.15vw;
        position: absolute;
        bottom: -0.21vw;
        left: 0;
        right: 0;
        transition: 0.3s;
        border-bottom: 0.15vw dotted var(--color-red);
      }
    }
  }
  &__calculate-btn {
    text-align: left;
  }
  &__question-text {
    font-size: 1.4rem;
    line-height: 136%;
    letter-spacing: 0.05em;
    & span {
      font-weight: 700;
    }
  }
  &__question-messengers {
    display: flex;
    margin-top: 1.3rem;
  }
  &__question-link {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin-right: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

.mobile-menu__show {
  right: 0;
  opacity: 1;
  visibility: visible;
}
