.scroll-down {
  position: fixed;
  top: 11.2vw;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__text {
    font-weight: 700;
    font-size: 0.83vw;
    line-height: 156%;
    letter-spacing: 0.1em;
    color: #efefef;
    transform: rotate(-90deg);
  }
  &__line {
    height: 25.42vw;
    width: 0.08vw;
    background: #efefef;
    margin: 4.38vw 0 1.98vw 0;
  }
  &__image {
    position: relative;
    width: 0.98vw;
    height: 1.67vw;
    cursor: pointer;
    & img {
      width: 100%;
      height: 100%;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0.5vw;
      left: 50%;
      transform: translate(-50%, 0);
      width: 0.2vw;
      height: 0.2vw;
      border: 1px solid var(--color-red);
      border-radius: 50%;
      animation: 1s move-wheel infinite;
    }
  }
}

@keyframes move-wheel {
  from {
    top: 0.5vw;
  }
  to {
    top: 1vw;
  }
} ;
