.container {
  max-width: 85.52vw;
  margin: 0 auto;
}
.shadowed {
  @include shadowed;
}
.btn-reset {
  @include btn-reset;
}
.stop-scroll {
  @include stop-scroll;
}
.shadowed-active {
  display: block;
}
.modal-map {
  &__content {
    width: 90%;
    height: 45vw;
    background: var(--color-text);
    padding: 2vw;
  }
  .modal__button-close {
    top: 0.5vw;
    right: 0.5vw;
  }
}
