@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    color: #fff;
    & .container {
      max-width: 100%;
    }
    &__burger {
      display: block;
    }
    &__info {
      padding: 1.2rem 2.2rem;
      border-bottom: none;
    }
    &__logo-img {
      width: 9.2rem;
    }
    &__logo-text,
    &__address,
    &__calculate,
    &__map,
    &__question,
    &__nav {
      display: none;
    }
    &__call-text {
      font-size: 0.8rem;
      &::before {
        left: -1rem;
        width: 0.5rem;
        height: 0.5rem;
      }
    }
    &__call-phone {
      font-size: 1.4rem;
      color: #fff;
      margin: 0.5rem 0;
      padding-right: 0;
      &::after {
        display: none;
      }
    }
    &__call-btn {
      font-size: 0.8rem;
      color: #fff;
      padding-right: 1rem;
      &::after {
        width: 0.6rem;
        height: 0.6rem;
      }
      &::before {
        height: 0.3rem;
        bottom: -0.4rem;
        border-bottom: 0.3rem dotted var(--color-red);
      }
    }
  }
  .main {
    width: 100%;
    height: 51.1rem;
    margin-left: 0;
    background-position: center center;
    &__container {
      padding: 9.5rem 2.2rem 0 2.2rem;
    }
    &__title {
      font-size: 2rem;
      width: 100%;
    }
    &__subtitle {
      font-size: 1.2rem;
      margin: 2.8rem 0;
    }
    &__buttons {
      flex-direction: column;
    }
    &__button {
      font-size: 1rem;
      width: 27.6rem;
      height: 6rem;
      &_colored {
        margin-right: 0;
        margin-bottom: 1.5rem;
        & span {
          width: 100%;
          margin-right: 0;
        }
        & img {
          display: none;
        }
      }
      &_transparent {
        & img {
          display: none;
        }
      }
    }
    &__bulletins {
      margin-top: 18rem;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 1.5rem;
      row-gap: 3rem;
      width: 100%;
      padding-bottom: 5rem;
    }
    &__bullet {
      width: 20%;
      height: auto;
      padding: 0;
      border-right: none;
      font-size: 1rem;
      color: var(--color-text);
      &::before {
        top: -1.5rem;
        left: 0;
        width: 1.32rem;
        height: 0.96rem;
      }
    }
  }
  .modal {
    &__button-close {
      top: 1.5rem;
      right: 1.5rem;
      width: 2rem;
      height: 2rem;
    }
  }
  .modal-form {
    &__content {
      color: #fff;
      width: 70%;
      height: auto;
      padding: 3rem 2rem;
    }
    &__title {
      font-size: 1.9rem;
    }
    &__subtitle {
      font-size: 1rem;
      margin: 1rem 0 2rem 0;
    }
    &__form-label {
      font-size: 0.9rem;
      padding-left: 2rem;
    }
    &__form-input {
      height: auto;
      padding: 2rem;
      font-size: 1.2rem;
      margin-top: 1rem;
      text-align: center;
    }
    &__form-button {
      height: auto;
      padding: 2rem 1rem;
      font-size: 1.2rem;
      margin: 1.5rem 0;
    }
    &__form-policy {
      width: 100%;
    }
    &__form-policy-input + label::before {
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid var(--color-red);
    }
    &__form-policy-text {
      font-size: 1.1rem;
      margin-left: 1rem;
    }
  }
  .scroll-down {
    display: none;
  }
  .text-green {
    color: #20c863;
  }
  @keyframes move-light {
    from {
      left: -12rem;
    }
    to {
      left: 40rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .main__bullet {
    width: 33.33%;
  }
}
@media screen and (max-width: 450px) {
  .modal-form {
    &__content {
      width: 90%;
      padding: 3rem 2rem;
    }
  }
}
@media screen and (max-width: 400px) {
  .main {
    &__bulletins {
      margin-top: 15rem;
    }
    &__bullet {
      width: 45%;
    }
  }
}
@media screen and (max-width: 350px) {
  .main {
    &__bulletins {
      margin-top: 13rem;
    }
  }
}
