:root {
  --color-black: #000;
  --color-white: #fff;
  --color-text: #2a2a2a;
  --color-link-mobile-menu: #1c1c1c;
  --color-sublink-mobile-menu: #929292;
  --color-red: #fd2016;
  --color-hover-red: #cf1e14;
}
